<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-uppercase">Name</th>
          <th class="text-center text-uppercase">Personal Id</th>
          <th class="text-center text-uppercase">Passport Num.</th>
          <th class="text-center text-uppercase">Phone No.</th>
          <th class="text-center text-uppercase">Status</th>
          <th class="text-center text-uppercase">Confirmed</th>
          <th class="text-center text-uppercase">Agreement</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in users" :key="item.id">
          <td>{{ item.name }}</td>
          <td class="text-center">
            {{ item.personal_id }}
          </td>
          <td class="text-center">
            {{ item.phone_no }}
          </td>
          <td class="text-center">
            {{ item.status }}
          </td>
          <td class="text-center">
            {{ item.confirmed }}
          </td>
          <td class="text-center">
            {{ item.agreement }}
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
export default {
  data() {
    return {
      users: [],
      editedIndex: -1
    }
  },
  methods: {
    getUsers() {
      this.$http.get('admin/users').then(res => {
        users = res.data
      })
    },
    editUser(user, index) {
           this.editedIndex = index;

    },
  },
  created() {
    this.getUsers()
  },
}
</script>
