<template>
  <div>
    <v-snackbar v-model="snackbar" :color="color">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
    <v-btn color="primary" class="mt-6" @click="showTrash()"> Trash </v-btn>

    <v-btn color="primary" class="mt-6" outlined @click="createItem()"> Create </v-btn>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-uppercase">operation_num</th>
            <th class="text-center text-uppercase"> user Name</th>
            <th class="text-center text-uppercase">redeemed_points_count</th>
            <th class="text-center text-uppercase">Status</th>
            <th class="text-center text-uppercase">Created At</th>
            <th class="text-center text-uppercase">Updateded At</th>
            <th class="text-center text-uppercase">Status</th>
            <th class="text-center text-uppercase">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in redeemRequests" :key="item.id">
            <td>{{ item.operation_num }}</td>

            <td class="text-center">
              {{ item.user.name }}
            </td>
            <td class="text-center">
              {{ item.redeemed_points_count }}
            </td>  

            <td class="text-center">
              {{ item.status }}

            </td>
             <td class="text-center">
              {{ item.created_at }}
            </td>  
             <td class="text-center">
              {{ item.updated_at }}
            </td>
            <td>
                <v-btn color="primary" class="mt-6" @click="acceptRedeemRequest(item)">
                  <v-icon color="black">mdi-pencil</v-icon> Accept Redeem Request
                </v-btn>

                                <v-btn color="primary" class="mt-6" @click="cancelRequest(item)">
                  <v-icon color="black">mdi-pencil</v-icon>  Cancel Request
                </v-btn>
            </td>
          </tr>
        </tbody>
      </template>

      <template v-slot:top>
        <v-toolbar flat color="white">
          redeemRequests Management
          <v-dialog v-model="dialog">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="" v-bind="attrs" v-on="on" icon
                ><v-icon>mdi-plus-circle</v-icon></v-btn
              >
            </template>

            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">More info about {{ item.name }}</td>
            </template>
            <div class="container">
              <div class="row">
                <v-card class="col-sm-7 mx-auto">
                  <v-card-title>
                    <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                      <v-icon dark large>mdi-account-circle</v-icon> redeemRequests Management
                    </v-alert>
                  </v-card-title>
                  <v-card-text>
                    <div class="row">
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="operation_num"
                        v-model="editedItem.operation_num"
                      ></v-text-field>
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="user_id"
                        v-model="editedItem.user_id"
                      ></v-text-field>
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="redeemed_points_count"
                        v-model="editedItem.redeemed_points_count"
                      ></v-text-field>
                      <v-combobox
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="status"
                        :items="statuses"
                        v-model="status"
                      ></v-combobox>
                      <div class="col-sm-5 mx-auto row">
                        <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="save()" dark
                          >Save <i class="fas fa-file mr-3"></i
                        ></v-btn>
                        <v-btn color="amber darken-3" class="col-sm-5 mx-auto" @click="close()" dark
                          >Back<i class="fas fa-share mr-3"></i
                        ></v-btn>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </div>
          </v-dialog>
        </v-toolbar>
      </template>
    </v-simple-table>
    <template>
      <v-pagination v-model="page" :length="pageInfo && pageInfo.last_page" @input="getredeemRequests()" circle></v-pagination>
    </template>
  </div>
</template>

<script>
export default {
 
  data() {
    return {
      dialog: false,
      userToken: null,
      redeemRequests: [],
      permissions: [],
      send_permissions: [],
      editedIndex: -1,
      editedItem: {
        operaton_num: null,
        user_id: null,
        redeemRequests: null,
        status: null
      },
      defaultItem: {
        operaton_num: null,
        user_id: null,
        redeemRequests: null,
        status: null
      },
      statuses: [
                  {
          text: 'delivered',
          value: 2,
        },
        {
          text: 'accepted',
          value: 1,
        },
        {
          text: 'pending',
          value: 0,
        },
      ],
      status: 0,

      snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      Messages: {
        200: 'this request  has been accepted ,so now you can see it in delivering Money',
        500: 'Occured Error in server side to show Result Data ! Try again',
        419: 'this request already  delivered money  , so arleady accepted on it',
        400: 'this request already has been accepted ,  you can see it in delivering Money',
        402: 'status this request is 1 , arleady accepted ,so status is = 1',
        406: 'status this request is -1 , this is canceled',
        405: 'cannt cancel it , because this req now in step delivry Money',
        415: 'cannt cancel it , because this req delivered Money',
        416: 'this req arleady canceled',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        422: 'The given data was invalid ! Try again',
        403:'You does not have any of the necessary access rights., this page only for RedeemRequests Employee',
        201:'canceled request successfully',
        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },

      total: 0,
      pageInfo: null,
      page: 1,
      statusInput: null,
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
      // val
    },
    //     "editedItem.status":{
    //   handler: function(val){
    //     this.status=val.value

    //   }
    // },

    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
  },
  created() {
    this.getredeemRequests()
  },
  methods: {
    getMessage(id) {
      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      console.log('callErrorMessage', statusErr)
      if (statusErr == 500 || statusErr == 419 || statusErr == 400 || statusErr == 422||statusErr == 403||statusErr == 405||statusErr == 415||statusErr == 402||statusErr == 406) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    showTrash() {
      this.$router.push('/trash-redeemRequests-managment')
    },
    cancelRequest(item){
      confirm('Are You Sure To Cancel This Item ?') &&
        this.$http
          .get(`admin/wallet/system/cancel-redeem-request-from-admin/${item.id}`).then(res=>{
 if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            }else if (res.data.code == 405) {
              console.log('cccc', res.data.code)
              this.callErrorMessage(res.data.code)
            }else if (res.data.code == 415) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
              this.dialog = false

                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            if(error && error.response){
              this.callErrorMessage(error.response.status)

            }
          })
    },
    getredeemRequests() {
      this.$http
        .get('admin/wallet/system/get-redeemed-requests-paginate-for-employee-a')
        .then(res => {
            console.log('rrrr', res.data)
          this.redeemRequests = res.data.data.data
          this.pageInfo = res.data.data
        })
        .catch(error => {
            if(error && error.response){
              this.callErrorMessage(error.response.status)

            }
        })
    },
    async save() {
      let dum_permissions = []
      if (this.editedItem.permissions) {
        this.editedItem.permissions.forEach(permission => {
          dum_permissions.push(permission.value)
        })
      }

      this.editedItem.permissions = dum_permissions
      if (this.status === 'accepted'||this.status.text=='accepted') {
        this.statusInput = 1
      } else if (this.status === 'pending'||this.status.text=='pending') {
        this.statusInput = 0
      }
      console.log('rrrr', this.status)
      console.log('this.editedItem.permissions', this.editedItem.permissions)
      if (this.editedIndex > -1) {
        //edit route
        this.$http
          .post(`admin/redeemRequests/update/${this.editedItem.id}`, {
              operaton_num: this.editedItem.operaton_num,
            user_id: this.editedItem.user_id,
            redeemed_points_count: this.editedItem.redeemed_points_count,
            status: this.statusInput,

          })

          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
              this.dialog = false

                Object.assign(this.redeemRequests[this.editedIndex], {
              operaton_num: this.editedItem.operaton_num,
            user_id: this.editedItem.user_id,
            redeemed_points_count: this.editedItem.redeemed_points_count,
            status: this.statusInput,

                })
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            if(error && error.response){
              this.callErrorMessage(error.response.status)

            }          })
        
      } else {
        //add (save) route
        this.$http
          .post(`admin/redeemRequests/store`, {
              operaton_num: this.editedItem.operaton_num,
            user_id: this.editedItem.user_id,
            redeemed_points_count: this.editedItem.redeemed_points_count,
            status: this.statusInput,
          })
          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              console.log('eeeeeee', res.data)

              if (res.data.message != null) {
              this.dialog = false

                this.redeemRequests.push({
              operaton_num: this.editedItem.operaton_num,
            user_id: this.editedItem.user_id,
            redeemed_points_count: this.editedItem.redeemed_points_count,
            status: this.statusInput,

                })
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            if(error && error.response){
              this.callErrorMessage(error.response.status)

            }
          })
        
      }
    },
    editItem(item) {
      console.log('222', item)
      this.editedIndex = this.redeemRequests.indexOf(item)
      this.editedItem = Object.assign({}, item)

      if (item.status == '0') {
        this.status = 'pending'
      } else if (item.status == '1') {
        this.status = 'accepted'
      }

      this.dialog = true
    },
    createItem() {
      this.status = 'pending'
      this.dialog = true
    },

    acceptRedeemRequest(item) {
      confirm('Are You Sure To accept This Redeem Request ?') &&
        this.$http
          .get(`admin/wallet/system/accept-redeemed-request/${item.id}`)

          .then(res => {
              console.log('eeee', res.data)
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            }  else if (res.data.code == 402) {
              this.callErrorMessage(res.data.code)
            }  else if (res.data.code == 406) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
                // this.redeemRequests.splice(index, 1)
                
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            if(error && error.response){
              this.callErrorMessage(error.response.status)

            }
          })
    },


    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
  },
}
</script>
