<template>
  <div>
    <v-snackbar v-model="snackbar" :color="color">
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
   startClient {{startClient}}
dialogDelegate {{dialogDelegate}}

    <v-btn color="primary" class="mt-6" outlined @click="seachDialog()"> search </v-btn>

    <div v-if="startClient==false">
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-uppercase">Name</th>

            <th class="text-center text-uppercase">Personal Id</th>


            <th class="text-center text-uppercase">Phone No.</th>

            <th class="text-center text-uppercase">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="item in drivers" :key="item.id">
            <td>{{ item.name }}</td>

            <td class="text-center">
              {{ item.personal_id }}
            </td>

        

            <td class="text-center">
              {{ item.phone_no }}
            </td>

          
            <td>
                <v-btn color="primary" class="mt-6" @click="connectDriver(item)">
                  <v-icon color="black">mdi-pencil</v-icon> connect Driver
                </v-btn>
            </td>
          </tr>
        </tbody>
      </template>

      <template v-slot:top>
        <v-toolbar flat color="white">
          drivers Management
          <v-dialog v-model="dialogDriver">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="" v-bind="attrs" v-on="on" icon
                ><v-icon>mdi-plus-circle</v-icon></v-btn
              >
            </template>

            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">More info about {{ item.name }}</td>
            </template>
            <div class="container">
              <div class="row">
                <v-card class="col-sm-7 mx-auto">
                  <v-card-title>
                    <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                      <v-icon large>mdi-account-circle</v-icon> drivers Management
                    </v-alert>
                  </v-card-title>
                  <v-card-text>
                    <div class="row">
                    
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="passport_num"
                        v-model="editedItemDriver.passport_num"
                      ></v-text-field>
                      
                      <div class="col-sm-5 mx-auto row">
                        <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="saveDriver()" dark
                          >Save <i class="fas fa-file mr-3"></i
                        ></v-btn>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </div>
          </v-dialog>
        </v-toolbar>
      </template>


    </v-simple-table>
    <template>
      <v-pagination v-model="page" :length="pageInfo && pageInfo.last_page" @input="getDrivers()" circle></v-pagination>
    </template>
    
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-uppercase">Name</th>
            <th class="text-center text-uppercase">Phone No.</th>

           
            <th class="text-center text-uppercase">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="item in delegates" :key="item.id">
            <td>{{ item.name }}</td>

            <td class="text-center">
              {{ item.phone_no }}
            </td>

      
            <td>
                <v-btn color="primary" class="mt-6" @click="connectDelegate(item)">
                  <v-icon color="black">mdi-pencil</v-icon> connect Delegate
                </v-btn>
            </td>
          </tr>
        </tbody>
      </template>

      <template v-slot:top>
        <v-toolbar flat color="white">
          delegates Management 
          {{dialogDelegate}}
          <v-dialog v-if="dialogDelegate==true">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="" v-bind="attrs" v-on="on" icon
                ><v-icon>mdi-plus-circle</v-icon></v-btn
              >
            </template>

            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">More info about {{ item.name }}</td>
            </template>
            <div class="container">
              <div class="row">
                <v-card class="col-sm-7 mx-auto">
                  <v-card-title>
                    <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                      <v-icon large>mdi-account-circle</v-icon> delegates Management
                    </v-alert>
                  </v-card-title>
                  <v-card-text>
                    <div class="row">
                    
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="passport_num"
                        v-model="editedItemDelegate.passport_num"
                      ></v-text-field>
                      
                      <div class="col-sm-5 mx-auto row">
                        <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="saveDelegate()" dark
                          >Save <i class="fas fa-file mr-3"></i
                        ></v-btn>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </div>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:top>
        <v-toolbar flat color="white">
          Clients Management
          <v-dialog v-model="dialogClient">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="" v-bind="attrs" v-on="on" icon
                ><v-icon>mdi-plus-circle</v-icon></v-btn
              >
            </template>

            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">More info about {{ item.name }}</td>
            </template>
            <div class="container">
              <div class="row">
                <v-card class="col-sm-7 mx-auto">
                  <v-card-title>
                    <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                      <v-icon large>mdi-account-circle</v-icon> Clients Management
                    </v-alert>
                  </v-card-title>
                  <v-card-text>
                    <div class="row">
                    
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="personal_id"
                        v-model="editedItemClient.personal_id"
                      ></v-text-field>
                      
                      <div class="col-sm-5 mx-auto row">
                        <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="go()" dark
                          >Save <i class="fas fa-file mr-3"></i
                        ></v-btn>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </div>
          </v-dialog>
        </v-toolbar>
      </template>
    </v-simple-table>
    </div>
    <div v-if="startClient==true">
    <v-simple-table>
    Client
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-uppercase">Name</th>

            <th class="text-center text-uppercase">Passport Num.</th>


          
            <th class="text-center text-uppercase">Actions</th>
          </tr>
        </thead>

        <tbody>
            <td>{{ clientData.name }}</td>

            <td class="text-center">
              {{ clientData.passport_num }}
            </td>

        

            <td>
                <v-btn color="primary" class="mt-6" @click="connectClient(clientData)">
                  <v-icon color="black">mdi-pencil</v-icon> connect Client
                </v-btn>
            </td>
        </tbody>
      </template>


    </v-simple-table>
    
    </div>
  </div>

  
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      dialog: false,
      dialogClient: false,
      dialogDelegate: false,
      dialogDriver: false,
      startClient:false,
      clientData:{},
      drivers: [],
      delegates: [],
      statuses: [
        {
          text: 'active',
          value: 1,
        },
        {
          text: 'inactive',
          value: 0,
        },
      ],
      confirms: [
        {
          text: 'confirmed',
          value: 1,
        },
        {
          text: 'not confirm',
          value: 0,
        },
      ],
      agreements: [
        {
          text: 'agreed',
          value: 1,
        },
        {
          text: 'not agree',
          value: 0,
        },
      ],
      editedIndex: -1,
      editedItemClient: {
      },    
        editedItemDelegate: {
      },     
       editedItemDriver: {
      },
      defaultItem: {
        name: null,
        personal_id: null,
        phone_no: null,
        photo: null,
        status: null,
      },
      status: 0,
      confirm: 0,
      agreement: 0,
      snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      Messages: {
        200: 'start in charging',
        201: 'getting data client successfully',
        500: 'Occured Error in server side to show Result Data ! Try again',
        419: 'this passport num not found in system',
        419: 'this is not driver to make connecting in charging page',
        400: 'this passport_num not for this driver',
        415: 'this is not user to make appear in this search',
        404: 'Not Found this personal_id in system',
        422: 'The given data was invalid ! Try again',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },
      photos: [],

      total: 0,
      pageInfo: null,
      page: 1,
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    // 'editedItem.status': {
    //   handler: function (val) {
    //     this.status = val.value
    //   },
    // },
    // 'editedItem.confirm': {
    //   handler: function (val) {
    //     this.confirm = val.value
    //   },
    // },
    // 'editedItem.agreement': {
    //   handler: function (val) {
    //     this.agreement = val.value
    //   },
    // },
    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
  },
  created() {
    this.getDrivers()
    this.getDelegtes()
    this.status = 'inactive'
    this.confirm = 'not confirm'
    this.agreement = 'not agree'
  },
  methods: {
    getMessage(id) {
      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      if (statusErr == 500 || statusErr == 419 || statusErr == 400 || statusErr == 422|| statusErr == 404|| statusErr == 415) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    showTrash() {
      this.$router.push('/trash-drivers-managment')
    },
    getDrivers() {
      this.$http
        .get('admin/wallet/get-all-drivers')
        .then(res => {
            console.log('dddd', res.data)
          this.drivers = res.data.data
        })
        .catch(error => {
          if (error && error.response.status == 500) {
            this.callErrorMessage(error.response.status)
          }
        })
    },
connectClient(item){
   this.$http
          .post(`admin/wallet/connect-client/${item.id}`)
          .then(res => {
            console.log('tag', res)
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            }else if (res.data.code == 415) {
              this.callErrorMessage(res.data.code)
            }else if (res.data.code == 404) {
              this.callErrorMessage(res.data.code)
            } else {
              
              if (res.data.message != null) {
              this.dialogClient = false
                  console.log('99', res.data)
                this.callSuccessMessage(res.data.code)
              setTimeout(()=>{
                 this.$router.push(`/charging/${item.id}`)
               },1000)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 422) {
            //   this.callErrorMessage(error.response.status)
            // } else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
},
  go(){
        this.$http
          .post(`admin/wallet/search-client/${this.editedItemClient.personal_id}`)
          .then(res => {
            console.log('tag', res)
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            }else if (res.data.code == 415) {
              this.callErrorMessage(res.data.code)
            }else if (res.data.code == 404) {
              this.callErrorMessage(res.data.code)
            } else {
              
              if (res.data.message != null) {
              this.dialogClient = false
                  console.log('99', res.data)
                  this.clientData=res.data.data
                this.callSuccessMessage(res.data.code)

               this.startClient=true
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 422) {
            //   this.callErrorMessage(error.response.status)
            // } else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
  },
  getDelegtes() {
      this.$http
        .get('admin/wallet/get-all-delagtes')
        .then(res => {
            console.log('0000000', res.data)
          this.delegates = res.data.data
        })
        .catch(error => {
          if (error && error.response.status == 500) {
            this.callErrorMessage(error.response.status)
          }
        })
    },
    save() {
 
        //edit route
        this.$http
          .post(`admin/wallet/connect-delegate/${this.editedItemDelegate.id}`,{
            passport_num: this.editedItemDelegate.passport_num,

          }, {
            headers: {
               'X-Requested-With':'XMLHttpRequest'

            },
          })
          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              
              if (res.data.message != null) {
              this.dialog = false

                this.callSuccessMessage(res.data.code)
                 setTimeout(()=>{
                this.$router.push('/charging')
              },1000)

              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 422) {
            //   this.callErrorMessage(error.response.status)
            // } else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })

    },
    saveDelegate() {
 
        //edit route
        this.$http
          .post(`admin/wallet/connect-delegate/${this.editedItemDelegate.id}`,{
            passport_num: this.editedItemDelegate.passport_num,

          }, {
            headers: {
               'X-Requested-With':'XMLHttpRequest'

            },
          })
          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              
              if (res.data.message != null) {
              this.dialogDelegate = false

                this.callSuccessMessage(res.data.code)
                  setTimeout(()=>{
                 this.$router.push(`/charging/${this.editedItem.id}`)
               },1000)

              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 422) {
            //   this.callErrorMessage(error.response.status)
            // } else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })

    },    saveDriver() {
 
        //edit route
        this.$http
          .post(`admin/wallet/connect-driver/${this.editedItemDriver.id}`,{
            passport_num: this.editedItemDriver.passport_num,

          }, {
            headers: {
               'X-Requested-With':'XMLHttpRequest'

            },
          })
          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              
              if (res.data.message != null) {
              this.dialogDriver = false

                this.callSuccessMessage(res.data.code)
                  setTimeout(()=>{
                 this.$router.push(`/charging/${this.editedItem.id}`)
               },1000)

              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 422) {
            //   this.callErrorMessage(error.response.status)
            // } else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })

    },
    connectDriver(item) {
      console.log('1111', item)
      this.dialogDriver=true
      this.editedItemDriver.id = item.id

 
    },
        connectDelegate(item) {

      this.dialogDelegate=true
      this.editedItemDelegate = item
      console.log('editedItemDelegate', this.editedItemDelegate)

 
    },
    seachDialog() {
      this.dialogClient = true
      console.log('555', this.editedItemClient)

      this.editedItemClient.id = item.id

 
    },
    resetPasswordUserDialog() {},
    resetPasswordUser(item) {
      confirm('Are You Sure To Reset This Item ?') &&
        this.$http
          .get(`admin/drivers/restore-password-user/${item.id}`)
          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
    },
    deleteItem(item) {
      const index = this.drivers.indexOf(item)
      confirm('Are You Sure To Delete This Item ?') &&
        this.$http
          .get(`admin/drivers/destroy/${item.id}`)

          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
                this.drivers.splice(index, 1)
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
  },
}
</script>
