<template>
  <div>
    <v-btn color="primary" class="mt-6" @click="viewPointsWalletSystem()"> View Points Wallet System </v-btn>
    <v-btn color="primary" class="mt-6" @click="returnPointsIntoOriginalPoints()"> returnPointsIntoOriginalPoints </v-btn>
    <v-snackbar v-model="snackbar" :color="color">
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>

            <div class="container">
   totalPointsWalletSystem {{totalPointsWalletSystem}}
              <div class="row">
                <v-card class="col-sm-7 mx-auto">
                  <v-card-title>
                    <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                      <v-icon large>mdi-account-circle</v-icon> charging 
                    </v-alert>
                  </v-card-title>
                  <v-card-text>
                    <div class="row">
                    
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="points_count"
                        v-model="editedItem.points_count"
                      ></v-text-field>
                      
          <v-checkbox label="Out To Serve" hide-details class="me-3 mt-1" v-model="out_to_serve"> </v-checkbox>
          <v-checkbox label="Out To Offers" hide-details class="me-3 mt-1" v-model="out_to_offers"> </v-checkbox>
                      <div class="col-sm-5 mx-auto row">
                        <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="save()" dark
                          >Save <i class="fas fa-file mr-3"></i
                        ></v-btn>
                        <v-btn color="amber darken-3" class="col-sm-5 mx-auto" @click="close()" dark
                          >Back<i class="fas fa-share mr-3"></i
                        ></v-btn>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </div>
    <template>
      <v-pagination v-model="page" :length="pageInfo && pageInfo.last_page" @input="getDelegtes()" circle></v-pagination>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      dialog: false,
      drivers: [],
      totalPointsWalletSystem:null,
      roles: [],
      send_roles: [],
      out_to_serve:0,
      out_to_offers:0,
      statuses: [
        {
          text: 'active',
          value: 1,
        },
        {
          text: 'inactive',
          value: 0,
        },
      ],
      confirms: [
        {
          text: 'confirmed',
          value: 1,
        },
        {
          text: 'not confirm',
          value: 0,
        },
      ],
      agreements: [
        {
          text: 'agreed',
          value: 1,
        },
        {
          text: 'not agree',
          value: 0,
        },
      ],
      editedIndex: -1,
      editedItem: {
        id:null,
        points_count: null
      },
      defaultItem: {
      },
      status: 0,
      confirm: 0,
      agreement: 0,
      snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      Messages: {
        200: 'charging operation has been successfully',
        201: 'Return Points Into System Wallet',
        500: 'Occured Error in server side to show Result Data ! Try again',
        404: 'there is not found any wallet for system',
        419: 'this is not driver to make connecting in charging page',
        415: 'you must pass in req: out_to_serve =1 or out_to_offers=1',
        400: 'points_count in wallet system not enough',
        422: 'The given data was invalid ! Try again',
        404: 'Not Found (For latest wallet) Any Return Points to move it into SystemWallet',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },
      photos: [],

      total: 0,
      pageInfo: null,
      page: 1,
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    // 'editedItem.status': {
    //   handler: function (val) {
    //     this.status = val.value
    //   },
    // },
    // 'editedItem.confirm': {
    //   handler: function (val) {
    //     this.confirm = val.value
    //   },
    // },
    // 'editedItem.agreement': {
    //   handler: function (val) {
    //     this.agreement = val.value
    //   },
    // },
    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
  },
  created() {
    this.getDelegtes()
    this.getRoles()
    this.status = 'inactive'
    this.confirm = 'not confirm'
    this.agreement = 'not agree'
  },
  methods: {
    getMessage(id) {
      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      if (statusErr == 500 || statusErr == 419 || statusErr == 400 || statusErr == 422|| statusErr == 404|| statusErr == 415) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    showTrash() {
      this.$router.push('/trash-drivers-managment')
    }, 
    getDelegtes() {
        console.log('params', this.$route.params.id)
      this.$http
        .get('admin/wallet/get-all-drivers')
        .then(res => {
            console.log('dddd', res.data)
          this.drivers = res.data.data
        })
        .catch(error => {
          if (error && error.response.status == 500) {
            this.callErrorMessage(error.response.status)
          }
        })
    },
viewPointsWalletSystem(){
 this.$http
          .get('admin/wallet/system/total-points-in-system-wallet')
          .then(res => {
                console.log('rrrrr',res.data)

            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              
              if (res.data.message != null) {
                console.log('ressss', res.data.message)
              this.dialog = false
              this.totalPointsWalletSystem=res.data.data
                // this.callSuccessMessage(res.data.code)
                

              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 422) {
            //   this.callErrorMessage(error.response.status)
            // } else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
},

returnPointsIntoOriginalPoints(){
 this.$http
          .get('admin/wallet/system/return-points-into-original-points',{
            headers: {
               'X-Requested-With':'XMLHttpRequest'

            },
          })
          .then(res => {
                console.log('rrrrr',res.data)

            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 404) {
              this.callErrorMessage(res.data.code)
            } else {
              
              if (res.data.message != null) {
                console.log('ressss', res.data.message)
              this.dialog = false
                 this.callSuccessMessage(res.data.code)
                

              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 422) {
            //   this.callErrorMessage(error.response.status)
            // } else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
},
    save() {
      console.log('this.editedItem', this.editedItem)

        //edit route
        this.$http
          .post(`admin/wallet/system/charging/${this.editedItem.id}`,{
            points_count: this.editedItem.points_count,
            out_to_serve:this.out_to_serve,
            out_to_offers:this.out_to_offers,

          }, {
            headers: {
               'X-Requested-With':'XMLHttpRequest'

            },
          })
          .then(res => {
                console.log('rrrrr',res.data)

            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 404) {
              this.callErrorMessage(res.data.code)
            }else if (res.data.code == 415) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
                this.dialog = false
                this.callSuccessMessage(res.data.code)

              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 422) {
            //   this.callErrorMessage(error.response.status)
            // } else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })

    },

    connectDriver(item) {

      this.dialog=true
      this.editedItem.id = item.id

 
    },
    createItem() {
      this.dialog = true
    },
    resetPasswordUserDialog() {},
    resetPasswordUser(item) {
      confirm('Are You Sure To Reset This Item ?') &&
        this.$http
          .get(`admin/drivers/restore-password-user/${item.id}`)
          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
    },
    deleteItem(item) {
      const index = this.drivers.indexOf(item)
      confirm('Are You Sure To Delete This Item ?') &&
        this.$http
          .get(`admin/drivers/destroy/${item.id}`)

          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
                this.drivers.splice(index, 1)
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
  },
}
</script>
