<template>
  <div>
    <v-snackbar v-model="snackbar" :color="color">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-center text-uppercase"> Operation num.</th>
            <th class="text-center text-uppercase">redeemed_points_count</th>
            <th class="text-center text-uppercase">Status</th>
            <th class="text-center text-uppercase">Created At</th>
            <th class="text-center text-uppercase">Updateded At</th>
            <th class="text-center text-uppercase">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in redeemRequests" :key="item.id">

            <td class="text-center">
              {{ item.operation_num }}
            </td>
            <td class="text-center">
              {{ item.redeemed_points_count }}
            </td>

            <td class="text-center" >
              {{ item.status }}
              
            </td>
                         <td class="text-center">
              {{ item.created_at }}
            </td>  
             <td class="text-center">
              {{ item.updated_at }}
            </td>
            <td>
              <div >
                <v-btn color="primary" class="mt-6" @click="editItem(item)">
                  <v-icon color="black">mdi-pencil</v-icon>  Accept Delivery Money Request
                </v-btn> 
                <v-btn color="primary" class="mt-6" @click="returningRequest(item)">Returning Request</v-btn>

              </div>
            </td>
          </tr>
        </tbody>
      </template>

      <template v-slot:top>
        <v-toolbar flat color="white">
          redeemRequests Management
          <v-dialog v-model="dialog">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="" v-bind="attrs" v-on="on" icon
                ><v-icon>mdi-plus-circle</v-icon></v-btn
              >
            </template>

            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">More info about {{ item.name }}</td>
            </template>
            <div class="container">
              <div class="row">
                <v-card class="col-sm-7 mx-auto">
                  <v-card-title>
                    <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                      <v-icon dark large>mdi-account-circle</v-icon> DeliveryMoney Management
                    </v-alert>
                  </v-card-title>
                  <v-card-text>
                    <div class="row">
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="operation_num"
                        v-model="editedItem.operation_num"
                      ></v-text-field>

                      <div class="col-sm-5 mx-auto row">
                        <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="acceptDeliveryMoneyRequest()" dark
                          >Save <i class="fas fa-file mr-3"></i
                        ></v-btn>
                        <v-btn color="amber darken-3" class="col-sm-5 mx-auto" @click="close()" dark
                          >Back<i class="fas fa-share mr-3"></i
                        ></v-btn>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </div>
          </v-dialog>
        </v-toolbar>
      </template>
    </v-simple-table>
    <template>
      <v-pagination v-model="page" :length="pageInfo && pageInfo.last_page" @input="acceptDeliveryMoneyRequest()" circle></v-pagination>
    </template>
  </div>
</template>

<script>
export default {
 
  data() {
    return {
      dialog: false,
      userToken: null,
      redeemRequests: [],
      permissions: [],
      send_permissions: [],
      editedIndex: -1,
      editedItem: {
        // operation_num: null,
        // user_id: null,
        // redeemRequests: null,
        // status: null
      },
      defaultItem: {
        operation_num: null,
        user_id: null,
        redeemRequests: null,
        status: null
      },
    statuses: [
                  {
          text: 'delivered',
          value: 2,
        },
        {
          text: 'accepted',
          value: 1,
        },
        {
          text: 'pending',
          value: 0,
        },
      ],
      status: 0,

      snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      Messages: {
        200: 'this request  has been accepted , so now you can deliver Money',
        201: 'returned Request Into Employee A',
        500: 'Occured Error in server side to show Result Data ! Try again',
        419: 'cannt delivery Money for this user because , this user not accepted on  his RedeemedRequest from emplyee RedeemedRequests , status 0',
        400: 'this request already has been accepted , so arlaedy delivered Money',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        422: 'The given data was invalid ! Try again',
        414: 'this req delivered money, so cannt return it into employee a',
        415: 'this req still pending , still waiting from employee a',
        416: 'this req aleady returned in employee a',
        417: 'this req canceled , so cannt return into employee a',
        418: 'not found this id req',
        403:'You does not have any of the necessary access rights., this page only for DeliveryMoney Employee',
        404:'this passport_num not found',
        415:'this passport_num not for this user',

        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },

      total: 0,
      pageInfo: null,
      page: 1,
      statusInput: null,
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
      // val
    },
    //     "editedItem.status":{
    //   handler: function(val){
    //     this.status=val.value

    //   }
    // },

    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
  },
  created() {
    this.getredeemRequests()
  },
  methods: {
    getMessage(id) {
      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      if (statusErr == 500 || statusErr == 419 || statusErr == 400 || statusErr == 422||statusErr == 414||statusErr == 415||statusErr == 416||statusErr == 417||statusErr == 418||statusErr == 403) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    showTrash() {
      this.$router.push('/trash-redeemRequests-managment')
    },
returningRequest(item){
      this.$http
        .get(`admin/wallet/system/return-request-into-employee-a/${item.id}`)
          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            }else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 414) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 415) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 416) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 417) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 418) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
              this.dialog = false
              console.log('6666', res.data.code)
               
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
            })
        .catch(error => {

            // this.callErrorMessage(error.response.status)
          // if (error && error.response.status == 500) {
          // }
        })
},
    getredeemRequests() {
      this.$http
        .get('admin/wallet/system/get-redeemed-requests-paginate-for-employee-b')
        .then(res => {
            console.log('rrrr', res.data)
          this.redeemRequests = res.data.data.data
          this.pageInfo = res.data.data
        })
        .catch(error => {

             this.callErrorMessage(error.response.status)
          // if (error && error.response.status == 500) {
          // }
        })
    },
    async save() {
      let dum_permissions = []
      if (this.editedItem.permissions) {
        this.editedItem.permissions.forEach(permission => {
          dum_permissions.push(permission.value)
        })
      }

      this.editedItem.permissions = dum_permissions
      if (this.status === 'active'||this.status.text=='active') {
        this.statusInput = 1
      } else if (this.status === 'inactive'||this.status.text=='inactive') {
        this.statusInput = 0
      }
      console.log('rrrr', this.status)
      console.log('this.editedItem.permissions', this.editedItem.permissions)
      if (this.editedIndex > -1) {
        //edit route
        this.$http
          .post(`admin/redeemRequests/update/${this.editedItem.id}`, {
              operation_num: this.editedItem.operation_num,
            user_id: this.editedItem.user_id,
            redeemed_points_count: this.editedItem.redeemed_points_count,
            status: this.statusInput,

          })

          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
              this.dialog = false

                Object.assign(this.redeemRequests[this.editedIndex], {
              operation_num: this.editedItem.operation_num,
            user_id: this.editedItem.user_id,
            redeemed_points_count: this.editedItem.redeemed_points_count,
            status: this.statusInput,

                })
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            if (error && error.response.status == 422) {
              this.callErrorMessage(error.response.status)
            } 
            // else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
        
      } else {
        //add (save) route
        this.$http
          .post(`admin/redeemRequests/store`, {
              operation_num: this.editedItem.operation_num,
            user_id: this.editedItem.user_id,
            redeemed_points_count: this.editedItem.redeemed_points_count,
            status: this.statusInput,
          })
          .then(res => {
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              console.log('eeeeeee', res.data)

              if (res.data.message != null) {
              this.dialog = false

                this.redeemRequests.push({
              operation_num: this.editedItem.operation_num,
            user_id: this.editedItem.user_id,
            redeemed_points_count: this.editedItem.redeemed_points_count,
            status: this.statusInput,

                })
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            if (error && error.response.status == 422) {
              this.callErrorMessage(error.response.status)
            } 
            // else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
        
      }
    },

    editItem(item) {
      console.log('222', item)
      this.editedIndex = this.redeemRequests.indexOf(item)
      item.operation_num = null
      this.editedItem = Object.assign({}, item)

      if (item.status == '0') {
        this.status = 'inactive'
      } else if (item.status == '1') {
        this.status = 'active'
      }
      // //get permissions for this role id
      let permissionso = []
      this.$http
        .get(`admin/permissions/permissions-role-by-name/${item.id}`)
        .then(res => {
          res.data.data.forEach(permission => {
            permissionso.push({
              text: permission.name,
              value: permission.id,
            })
          })
        })
        .catch(error => {
          // if (error && error.response.status == 500) {
          //   this.callErrorMessage(error.response.status)
          // }
        })
      this.editedItem.permissions = permissionso
      this.dialog = true
    },
    createItem() {
      this.status = 'inactive'
      this.dialog = true
    },
  // editItem(item){
  //       this.editedItem = Object.assign({}, this.item)

  //   this.dialog=true
  //   console.log('edi', this.editedItem)
  // },
    acceptDeliveryMoneyRequest() {
      console.log('this.editedItem',this.editedItem)
        this.$http
          .post(`admin/wallet/system/delivery-money-for-user-has-redeemed-request/${this.editedItem.id}`,{
            operation_num:this.editedItem.operation_num
          })
 
          .then(res => {
              console.log('eeee', res)
            if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 419) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
                // this.redeemRequests.splice(index, 1)
                
                this.callSuccessMessage(res.data.code)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
              this.callErrorMessage(error.response.status)

            // if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
    },


    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
  },
}
</script>
