<template>
  <v-container fluid>
      <v-snackbar v-model="snackbar" :color="color">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
    bbb {{ personal_id }}
    <v-layout column>
      <v-card>
        <v-card-text>
          <label for="">Personal Id : {{ personal_id }}</label>
          <div v-if="user.id!==1">
          <label for="">{{documentation}}</label>
            <v-btn color="primary" @click="requestVerification">
              RequestVerification
            </v-btn>
          
          </div>
          <label for="">Passport Num: {{ passport_num }}</label>
          <label for="">Phone No.: {{ phone_no }}</label>
          <label for="">Name : {{ name }}</label>
          <label for="">image : {{ image }}</label>
          <label for="">end_date_passport : {{ end_date_passport }}</label>
          <label for="">birth_date : {{ birth_date }}</label>
        </v-card-text>

        <v-card-actions>
          <v-btn color="primary" @click="edit">
            Edit
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-dialog v-model="dialog">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark class="" v-bind="attrs" v-on="on" icon><v-icon>mdi-plus-circle</v-icon></v-btn>
        </template>

        <template v-slot:expanded-item="{ headers, item }">
          <td :colspan="headers.length">More info about {{ item.name }}</td>
        </template>
        <div class="container">
          <div class="row">
            <v-card class="col-sm-7 mx-auto">
              <v-card-title>
                <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                  <v-icon large>mdi-account-circle</v-icon> Edit Profile
                </v-alert>
              </v-card-title>
              <v-card-text>
                <div class="row">
                  <v-file-input
                    truncate-length="15"
                    outlined
                    dense
                    label="image profile"
                    class="col-sm-5 mx-auto"
                    v-model="editedItem.photo"
                  ></v-file-input>
                  <div class="col-sm-5 mx-auto row">
                    <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="save()" dark
                      >Save <i class="fas fa-file mr-3"></i
                    ></v-btn>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </div>
        </div>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
//   import AvatarPicker from '~/components/AvatarPicker'
export default {
  pageTitle: 'My Profile',
  //    components: { AvatarPicker },
  data() {
    return {
       snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      Messages: {
        200: 'your request verification under reviewing',
        201: 'updated successfully',
        500: 'Occured Error in server side to show Result Data ! Try again',
        415: 'you already request verification',
        400: 'your request has been rejected',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        422: 'The given data was invalid ! Try again',
        403:'You does not have any of the necessary access rights., this page only for DeliveryMoney Employee',
        404:'this passport_num not found',
        415:'this passport_num not for this user',

        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },
      dialog: false,
      user: null,
      userId: null,
      user: null,
      loading: false,
      form: {
        firstName: 'John',
        lastName: 'Doe',
        contactEmail: 'john@doe.com',
        avatar: 'MALE_CAUCASIAN_BLOND_BEARD',
      },
      // showAvatarPicker: false
      editedItem: {
        photo: null,
      },
      personal_id: null,
      phone_no: null,
      passport_num: null,
      name: null,
      image: null,
    }
  },
  created() {
    this.getUserData()
  },
  watch:{
  Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
  },
  methods: {
     getMessage(id) {
      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      console.log('mmm', msg)
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      console.log('ooo', statusErr)
      if (statusErr == 500 || statusErr == 415 || statusErr == 400 || statusErr == 422||statusErr == 403) {
        this.Errors = []
        this.Errors.push(statusErr)
        console.log('6666', this.Errors)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    getUserData() {
       console.log('hhhgg', JSON.parse(localStorage.getItem("user")))

      //  this.params= this.$route.params.id
      this.user = JSON.parse(localStorage.getItem('user'))
  console.log('5555', this.user)
      this.userId = this.user.id
      this.personal_id = this.user.personal_id
      this.phone_no = this.user.phone_no
      this.passport_num = this.user.passport_num
      this.documentation = this.user.documentation
      this.name = this.user.name
      // this.image=this.user.image.url
      console.log('pppooo', this.personal_id)
      // alert(this.personal_id)
      // this.getDataProfile()
    },
    // openAvatarPicker () {
    //     this.showAvatarPicker = true
    // },
    // selectAvatar (avatar) {
    //     this.form.avatar = avatar
    // }
    // getDataProfile(){
    //   alert(this.$store.state.user.id)

    // },
    trim(value, size) {
      // let urlBack = value.substr(22, value.length)
      let new_url = value.slice(0, 22) + '/thumbnail/' + value.slice(23)
      let index = new_url.length - 4
      let url = new_url.slice(0, index) + size + new_url.slice(index)
      return url.substr(7, url.length)
    },
    edit() {
      this.dialog = true
    },
    requestVerification() {
      this.$http
        .get(`profile/request-documentation/${this.user.id}`, {
          headers: {
            'Content-Type': 'multipart/form-data',
            // Authorization: `Bearer ${this.$store.state.token}`,
          },
        })
        .then(res => {
          console.log('666', res)
           if (res.data.code == 400) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 415) {
              this.callErrorMessage(res.data.code)
            } else if (res.data.code == 500) {
              this.callErrorMessage(res.data.code)
            } else {
              if (res.data.message != null) {
              this.callSuccessMessage(res.data.code)

              }
            }
        })
    },
    save() {
      let formData = []
      formData = new FormData()

      formData.append('image', this.editedItem.photo)
      console.log('jjjf', this.editedItem.photo)
      console.log('hhhh', this.user)
      //edit route
      this.$http
        .post(`profile/update/${this.user.id}`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            // Authorization: `Bearer ${this.$store.state.token}`,
          },
        })
        .then(res => {
          console.log('5666', res.data.message)
          if (res.data.code == 400) {
            this.callErrorMessage(res.data.code)
          } else if (res.data.code == 419) {
            this.callErrorMessage(res.data.code)
          } else if (res.data.code == 500) {
            this.callErrorMessage(res.data.code)
          } else {
            this.callSuccessMessage(res.data.code)
            // if (res.data.message != null) {
            // } else {
            //   this.noDataInYourEntering()
            // }
          }
        })
        .catch(error => {
          // if (error && error.response.status == 422) {
          //   this.callErrorMessage(error.response.status)
          // } else if (error && error.response.status == 500) {
          //   this.callErrorMessage(error.response.status)
          // }
        })
    },
  },
  watch: {
    dialog(val) {
      val
    },
  },
}
</script>
