<template>
  <div>
    <v-snackbar v-model="snackbar" :color="color">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
    <v-btn color="primary" class="mt-6" @click="showTrash()"> Trash </v-btn>

    <v-btn color="primary" class="mt-6" outlined @click="createItem()"> Create </v-btn>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-uppercase">Name</th>
            <th class="text-center text-uppercase">Display Name</th>
            <th class="text-center text-uppercase">Description</th>
            <th class="text-center text-uppercase">Status</th>
            <th class="text-center text-uppercase">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in permissions" :key="item.id">
            <td>{{ item.name }}</td>

            <td class="text-center">
              {{ item.display_name }}
            </td>
            <td class="text-center">
              {{ item.description }}
            </td>

            <td class="text-center">
              {{ item.status == 1 ? 'Active' : 'InActive' }}
            </td>
            <td>
              <v-btn color="primary" class="mt-6" @click="editItem(item)">
                <v-icon color="black">mdi-pencil</v-icon> Edit
              </v-btn>
              <v-btn color="default" class="mt-6" @click="deleteItem(item)"> Delete </v-btn>
            </td>
          </tr>
        </tbody>
      </template>

      <template v-slot:top>
        <v-toolbar flat color="white">
          Permissions Management
          <v-dialog v-model="dialog">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="" v-bind="attrs" v-on="on" icon
                ><v-icon>mdi-plus-circle</v-icon></v-btn
              >
            </template>

            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">More info about {{ item.name }}</td>
            </template>
            <div class="container">
              <div class="row">
                <v-card class="col-sm-7 mx-auto">
                  <v-card-title>
                    <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                      <v-icon dark large>mdi-account-circle</v-icon> permissions Management
                    </v-alert>
                  </v-card-title>
                  <v-card-text>
                    <div class="row">
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="name"
                        v-model="editedItem.name"
                      ></v-text-field>
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="display_name"
                        v-model="editedItem.display_name"
                      ></v-text-field>
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="description"
                        v-model="editedItem.description"
                      ></v-text-field>
                      <v-combobox
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="roles"
                        :items="roles"
                        v-model="editedItem.roles"
                        multiple
                      ></v-combobox>
                       <v-combobox
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="modules"
                        :items="modules"
                        v-model="editedItem.module_name"
                        multiple
                      ></v-combobox>
                      <v-combobox
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="status"
                        :items="statuses"
                        v-model="status"
                      ></v-combobox>

                      <div class="col-sm-5 mx-auto row">
                        <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="save()" dark
                          >Save <i class="fas fa-file mr-3"></i
                        ></v-btn>
                        <v-btn color="amber darken-3" class="col-sm-5 mx-auto" @click="close()" dark
                          >Back<i class="fas fa-share mr-3"></i
                        ></v-btn>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </div>
          </v-dialog>
        </v-toolbar>
      </template>
    </v-simple-table>
    <template>
      <v-pagination
        v-model="page"
        :length="pageInfo && pageInfo.last_page"
        @input="getPermissions()"
        circle
      ></v-pagination>
    </template>
  </div>
</template>

<script>
export default {
  setup() {
    const statusColor = {
      /* eslint-disable key-spacing */
      Current: 'primary',
      Professional: 'success',
      Rejected: 'error',
      Resigned: 'warning',
      Applied: 'info',
      /* eslint-enable key-spacing */
    }
    return {
      statusColor,
    }
  },
  data() {
    return {
      dialog: false,
      permissions: [],
      roles: [],
      roless: [],
      send_roles: [],
      editedIndex: -1,
      editedItem: {
        name: null,
        display_name: null,
        description: null,
        status: null,
        module_name:null,
        roles: [],
      },
      defaultItem: {
        name: null,
        display_name: null,
        description: null,
        status: null,
      },
      statuses: [
        {
          text: 'active',
          value: 1,
        },
        {
          text: 'inactive',
          value: 0,
        },
      ],
      status: 0,
      snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      Messages: {
        200: 'Operation Accomplished Successfully',
        500: 'Occured Error in server side to show Result Data ! Try again',
        419: 'Somthing Unknown In Result Data ! Try again',
        400: 'Review the data you entered ! Try again',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        422: 'The given data was invalid ! Try again',
        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },

      total: 0,
      pageInfo: null,
      page: 1,
      statusInput: 0,
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },

    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
  },
  created() {
    this.getPermissions()
    this.getRoles()
    this.getModules()
  },
  methods: {
    getMessage(id) {
      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      if (statusErr == 500 || statusErr == 419 || statusErr == 400 || statusErr == 422) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    showTrash() {
      this.$router.push('/trash-permissions-managment')
    },
    getModules(){
      this.$http
        .get(`admin/permissions/modules`)
        .then(res => {
          console.log('hh', res.data)
          this.modules=res.data
        })
    },
    getPermissions() {
      this.$http
        .get(`admin/permissions/get-all-permissions-paginate?page=${this.page}&total=${this.total}`)
        .then(res => {
          this.permissions = res.data.data.data
          this.pageInfo = res.data.data
        })
        .catch(error => {
          if (error && error.response.status == 500) {
            this.callErrorMessage(error.response.status)
          }
        })
    },
    getRoles() {
      this.$http
        .get('admin/roles')
        .then(res => {
          res.data.data.forEach(da => {
            if (da.id !== 1) {
              this.roles.push({
                value: da.id,
                text: da.name,
              })
            }
          })
        })
        .catch(error => {
          // if (error && error.response.status == 500) {
          //   this.callErrorMessage(error.response.status)
          // }
        })
    },
    async save() {
      console.log('444', this.status)

      if (this.editedItem.roles) {
        let dum_roles = []
        this.editedItem.roles.forEach(role => {
          dum_roles.push(role.value)
        })
        this.editedItem.roles = dum_roles
      }

      if (this.status === 'active' || this.status.text == 'active') {
        this.statusInput = 1
      } else if (this.status === 'inactive' || this.status.text == 'inactive') {
        this.statusInput = 0
      }
      console.log('555', this.statusInput)
      if (this.editedIndex > -1) {
        //edit route
        this.$http
          .post(`admin/permissions/update/${this.editedItem.id}`, {
            name: this.editedItem.name,
            display_name: this.editedItem.display_name,
            description: this.editedItem.description,
            module_name: this.editedItem.module_name,
            
            status: this.statusInput,
       //     roles: this.editedItem.roles,
          })

          .then(res => {
            if (res.data.status == 400) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 419) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 500) {
              this.callErrorMessage(res.data.status)
            } else {
              if (res.data.message != null) {
                // this.permissions.push(this.editedItem)
                  this.dialog = false
                Object.assign(this.permissions[this.editedIndex], {
                  name: this.editedItem.name,
                  display_name: this.editedItem.display_name,
                  description: this.editedItem.description,
                  status: this.statusInput,
                })
                this.callSuccessMessage(res.data.status)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
           if (error && error.response.status == 422) {
             this.callErrorMessage(error.response.status)
           }  
            //else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
      } else {
        //add (save) route
        this.$http
          .post(`admin/permissions/store`, {
            name: this.editedItem.name,
            display_name: this.editedItem.display_name,
            description: this.editedItem.description,
            module_name: this.editedItem.module_name,
            status: this.statusInput,
        //    roles: this.editedItem.roles,
          })
          .then(res => {
            if (res.data.status == 400) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 419) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 500) {
              this.callErrorMessage(res.data.status)
            } else {
              if (res.data.message != null) {
                this.dialog = false
                this.permissions.push({

                  name: this.editedItem.name,
                  display_name: this.editedItem.display_name,
                  description: this.editedItem.description,
            module_name: this.editedItem.module_name,

                  status: this.statusInput,
                })
                this.callSuccessMessage(res.data.status)
              } else { 
                this.noDataInYourEntering()
              }
            } 
          })
          .catch(error => {
            if (error && error.response.status == 422) {
              this.callErrorMessage(error.response.status)
            } 
            //else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
      }
    },
    editItem(item) {
      this.editedIndex = this.permissions.indexOf(item)
      this.editedItem = Object.assign({}, item)
      if (item.status == 0) {
        this.status = 'inactive'
      } else if (item.status == 1) {
        this.status = 'active'
      }
      //  let roles=[];
      //get roles for this permission id

      // //get roles for this role id
      let roleso = []
      this.$http
        .get(`admin/roles/roles-permission-by-name/${item.id}`)
        .then(res => {
          res.data.data.forEach(role => {
            if (role.id !== 1) {
              roleso.push({
                text: role.name,
                value: role.id,
              })
            }
          })
        })
        .catch(error => {
          // if (error && error.response.status == 500) {
          //   this.callErrorMessage(error.response.status)
          // }
        })
      this.editedItem.roles = roleso

      this.dialog = true
    },
    createItem() {
      this.status = 'inactive'
      this.dialog = true
    },

    deleteItem(item) {
      const index = this.permissions.indexOf(item)
      confirm('Are You Sure To Delete This Item ?') &&
        this.$http
          .get(`admin/permissions/destroy/${item.id}`)
          .then(res => {
            if (res.data.status == 400) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 419) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 500) {
              this.callErrorMessage(res.data.status)
            } else {
              if (res.data.message != null) {
                this.permissions.splice(index, 1)
                this.callSuccessMessage(res.data.status)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
  },
}
</script>
