<template>
  <div>
    <v-btn color="primary" class="mt-6" @click="restoreAll()"> Restore All </v-btn>
    <v-snackbar v-model="snackbar" :color="color">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-uppercase">Name</th>
            <th class="text-center text-uppercase">Personal Id</th>
            <th class="text-center text-uppercase">Passport Num.</th>
            <th class="text-center text-uppercase">Phone No.</th>
            <th class="text-center text-uppercase">Status</th>
            <th class="text-center text-uppercase">Confirmed</th>
            <th class="text-center text-uppercase">Agreement</th>
            <th class="text-center text-uppercase">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in users" :key="item.id">
            <td>{{ item.name }}</td>
            <td class="text-center">
              {{ item.personal_id }}
            </td>
            <td class="text-center">
              {{ item.passport_num }}
            </td>
            <td class="text-center">
              {{ item.phone_no }}
            </td>

            <td class="text-center">
              {{ item.status == 1 ? 'Active' : 'InActive' }}
            </td>
            <td class="text-center">
              {{ item.confirmed == 1 ? 'Confirmed' : 'Not Confirm' }}
            </td>
            <td class="text-center">
              {{ item.agreement == 1 ? 'Agreed' : 'Not agree' }}
            </td>
            <td>
              <v-btn color="primary" class="mt-6" @click="restoreItem(item)"> Restore </v-btn>
              <v-btn color="default" class="mt-6" @click="deleteItem(item)"> Delete </v-btn>
            </td>
          </tr>
        </tbody>
      </template>

      <template v-slot:top>
        <v-toolbar flat color="white"> Trash Users Management </v-toolbar>
      </template>
    </v-simple-table>
    <template>
      <v-pagination v-model="page" :length="pageInfo && pageInfo.last_page" @input="getUsers()" circle></v-pagination>
    </template>
  </div>
</template>

<script>
export default {
  setup() {
    const statusColor = {
      /* eslint-disable key-spacing */
      Current: 'primary',
      Professional: 'success',
      Rejected: 'error',
      Resigned: 'warning',
      Applied: 'info',
      /* eslint-enable key-spacing */
    }
    return {
      statusColor,
    }
  },
  data() {
    return {
      users: [],
      roles: [],
      send_roles: [],
      permissions: [],
      send_permissions: [],
      editedIndex: -1,
      editedItem: {
        name: null,
        personal_id: null,
        phone_no: null,
        status: null,
        confirmed: null,
        agreement: null,
      },
      defaultItem: {
        name: null,
        personal_id: null,
        phone_no: null,
        status: null,
        confirmed: null,
        agreement: null,
      },
      snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      Messages: {
        200: 'Operation Accomplished Successfully',
        500: 'Occured Error in server side to show Result Data ! Try again',
        419: 'Somthing Unknown In Result Data ! Try again',
        400: 'Review the data you entered ! Try again',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },

      total: 0,
      pageInfo: null,
      page: 1,
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    // "editedItem.roles":{
    //   handler: function(val){
    //     alert(val.id)
    //     this.role_id=val.id
    //   }
    // }

    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
  },
  created() {
    this.getUsers()
  },
  methods: {
    getMessage(id) {
      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      if (statusErr == 500 || statusErr == 419 || statusErr == 400) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    getUsers() {
      this.$http
        .get(`admin/users/trash?page=${this.page}&total=${this.total}`)
        .then(res => {
          this.users = res.data.data.data
          this.pageInfo = res.data.data
        })
        .catch(error => {
          if (error && error.response.status == 422) {
            this.callErrorMessage(error.response.status)
          } 
          // else if (error.response.status == 500) {
          //   this.callErrorMessage(error.response.status)
          // }
        })
    },

    getPermissions() {
      this.$http
        .get('admin/permissions')
        .then(res => {
          res.data.data.forEach(da => {
            this.permissions.push({
              value: da.id,
              text: da.name,
            })
          })
        })
        .catch(error => {
          // if (error && error.response.status == 500) {
          //   this.callErrorMessage(error.response.status)
          // }
        })
    },

    restoreItem(item) {
      //  this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.$http
        .get(`admin/users/restore/${this.editedItem.id}`)
        .then(res => {
          if (res.data.status == 400) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 419) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 500) {
            this.callErrorMessage(res.data.status)
          } else {
            if (res.data.message != null) {
              const index = this.users.indexOf(item)
              this.users.splice(index, 1)
              this.callSuccessMessage(res.data.status)
            } else {
              this.noDataInYourEntering()
            }
          }
        })
        .catch(error => {
          // if (error && error.response.status == 500) {
          //   this.callErrorMessage(error.response.status)
          // }
        })
    },
    restoreAll() {
      this.$http
        .get('admin/users/restore-all')
        .then(res => {
          if (res.data.status == 400) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 419) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 500) {
            this.callErrorMessage(res.data.status)
          } else {
            if (res.data.message != null) {
              this.users = []
              this.callSuccessMessage(res.data.status)
            } else {
              this.noDataInYourEntering()
            }
          }
        })
        .catch(error => {
          // if (error && error.response.status == 500) {
          //   this.callErrorMessage(error.response.status)
          // }
        })
    },

    deleteItem(item) {
      const index = this.users.indexOf(item)
      confirm('Are You Sure To Delete This Item ?') &&
        this.$http
          .get(`admin/users/force-delete/${item.id}`)
          .then(res => {})
          .catch(error => {
            // if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
      this.users.splice(index, 1)
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
  },
}
</script>
