<template>
  <div>
    <v-snackbar v-model="snackbar" :color="color">
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>

    <v-btn color="primary" class="mt-6" @click="showTrash()"> Trash </v-btn>

    <v-btn color="primary" class="mt-6" outlined @click="createItem()"> Create </v-btn>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-uppercase">Name</th>

            <th class="text-center text-uppercase">Personal Id</th>

            <th class="text-center text-uppercase">Passport Num.</th>

            <th class="text-center text-uppercase">Phone No.</th>

            <th class="text-center text-uppercase">Status</th>

            <th class="text-center text-uppercase">Confirmed</th>

            <th class="text-center text-uppercase">Agreement</th>
            <th class="text-center text-uppercase">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="item in users" :key="item.id">
            <td>{{ item.name }}</td>

            <td class="text-center">
              {{ item.personal_id }}
            </td>

            <td class="text-center">
              {{ item.passport_num }}
            </td>

            <td class="text-center">
              {{ item.phone_no }}
            </td>

            <td class="text-center">
              {{ item.status == 1 ? 'Active' : 'InActive' }}
            </td>

            <td class="text-center">
              {{ item.confirmed == 1 ? 'Confirmed' : 'Not Confirm' }}
            </td>

            <td class="text-center">
              {{ item.agreement == 1 ? 'Agreed' : 'Not agree' }}
            </td>
            <td>
              <div v-if="item.id !== 1">
                <v-btn color="primary" class="mt-6" @click="editItem(item)">
                  <v-icon color="black">mdi-pencil</v-icon> Edit
                </v-btn>
                <v-btn color="primary" class="mt-6" @click="resetPasswordUser(item)">
                  <v-icon color="black">mdi-pencil</v-icon> reset Password
                </v-btn>
                <v-btn color="default" class="mt-6" @click="deleteItem(item)"> Delete </v-btn>
              </div>
            </td>
          </tr>
        </tbody>
      </template>

      <template v-slot:top>
        <v-toolbar flat color="white">
          Users Management
          <v-dialog v-model="dialog">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="" v-bind="attrs" v-on="on" icon
                ><v-icon>mdi-plus-circle</v-icon></v-btn
              >
            </template>

            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">More info about {{ item.name }}</td>
            </template>
            <div class="container">
              <div class="row">
                <v-card class="col-sm-7 mx-auto">
                  <v-card-title>
                    <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                      <v-icon large>mdi-account-circle</v-icon> Users Management
                    </v-alert>
                  </v-card-title>
                  <v-card-text>
                    <div class="row">
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="personal_id"
                        v-model="editedItem.personal_id"
                      ></v-text-field>
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="passport_num"
                        v-model="editedItem.passport_num"
                      ></v-text-field>
                      <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="phone_no"
                        v-model="editedItem.phone_no"
                      ></v-text-field>
                      <v-combobox
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="roles"
                        :items="roles"
                        v-model="editedItem.roles"
                        multiple
                      ></v-combobox>
                      <v-combobox
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="status"
                        :items="statuses"
                        v-model="status"
                      ></v-combobox>
                      <v-combobox
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="agreement"
                        :items="agreements"
                        v-model="agreement"
                      ></v-combobox>
                      <v-combobox
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="confirm"
                        :items="confirms"
                        v-model="confirm"
                      ></v-combobox>

                      <v-file-input
                        truncate-length="15"
                        outlined
                        dense
                        label="passport_images"
                        class="col-sm-5 mx-auto"
                        multiple
                        v-model="photos"
                      ></v-file-input>

                      <v-file-input
                        truncate-length="15"
                        outlined
                        dense
                        label="image profile"
                        class="col-sm-5 mx-auto"
                        v-model="editedItem.photo"
                      ></v-file-input>
                      <div class="col-sm-5 mx-auto row">
                        <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="save()" dark
                          >Save <i class="fas fa-file mr-3"></i
                        ></v-btn>
                        <v-btn color="amber darken-3" class="col-sm-5 mx-auto" @click="close()" dark
                          >Back<i class="fas fa-share mr-3"></i
                        ></v-btn>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </div>
          </v-dialog>
        </v-toolbar>
      </template>
    </v-simple-table>
    <template>
      <v-pagination v-model="page" :length="pageInfo && pageInfo.last_page" @input="getUsers()" circle></v-pagination>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      dialog: false,
      users: [],
      roles: [],
      send_roles: [],
      statuses: [
        {
          text: 'active',
          value: 1,
        },
        {
          text: 'inactive',
          value: 0,
        },
      ],
      confirms: [
        {
          text: 'confirmed',
          value: 1,
        },
        {
          text: 'not confirm',
          value: 0,
        },
      ],
      agreements: [
        {
          text: 'agreed',
          value: 1,
        },
        {
          text: 'not agree',
          value: 0,
        },
      ],
      editedIndex: -1,
      editedItem: {
        personal_id: null,
        phone_no: null,
        status: null,
        photo: null,
        roles: [],
      },
      defaultItem: {
        name: null,
        personal_id: null,
        phone_no: null,
        photo: null,
        status: null,
      },
      status: 0,
      confirm: 0,
      agreement: 0,
      snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      Messages: {
        200: 'Operation Accomplished Successfully',
        500: 'Occured Error in server side to show Result Data ! Try again',
        419: 'Somthing Unknown In Result Data ! Try again',
        400: 'Review the data you entered ! Try again',
        422: 'The given data was invalid ! Try again',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },
      photos: [],

      total: 0,
      pageInfo: null,
      page: 1,
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    // 'editedItem.status': {
    //   handler: function (val) {
    //     this.status = val.value
    //   },
    // },
    // 'editedItem.confirm': {
    //   handler: function (val) {
    //     this.confirm = val.value
    //   },
    // },
    // 'editedItem.agreement': {
    //   handler: function (val) {
    //     this.agreement = val.value
    //   },
    // },
    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
  },
  created() {
    this.getUsers()
    this.getRoles()
    this.status = 'inactive'
    this.confirm = 'not confirm'
    this.agreement = 'not agree'
  },
  methods: {
    getMessage(id) {
      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      if (statusErr == 500 || statusErr == 419 || statusErr == 400 || statusErr == 422) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    showTrash() {
      this.$router.push('/trash-users-managment')
    },
    getUsers() {
      this.$http
        .get(`admin/users/get-all-users-paginate?page=${this.page}&total=${this.total}`)
        .then(res => {
          this.users = res.data.data.data
          this.pageInfo = res.data.data
        })
        .catch(error => {
          if (error && error.response.status == 500) {
            this.callErrorMessage(error.response.status)
          }
        })
    },
    getRoles() {
      this.$http
        .get('admin/roles')
        .then(res => {
          res.data.data.forEach(da => {
            if (da.id !== 1) {
              this.roles.push({
                value: da.id,
                text: da.name,
              })
            }
          })
        })
        .catch(error => {
          if (error && error.response.status == 500) {
            this.callErrorMessage(error.response.status)
          }
        })
    },

    save() {
      console.log('this.agreement', this.agreement)
      let formData = []
      formData = new FormData()

      let dum_roles = []
      if (this.editedItem.roles) {
        this.editedItem.roles.forEach(role => {
          dum_roles.push(role.value)
        })
        this.editedItem.roles = JSON.stringify(dum_roles)
      console.log('this.editedItem.roles', this.editedItem.roles)

      }
      if (this.status === 'active' || this.status.text == 'active') {
        formData.append('status', 1)
      } else if (this.status === 'inactive' || this.status.text == 'inactive') {
        formData.append('status', 0)
      } else {
        formData.append('status', this.status.value)
      }
      if (this.confirm == 'confirmed' || this.confirm.text == 'confirmed') {
        formData.append('confirmed', 1)
      } else if (this.confirm == 'not confirm' || this.confirm.text == 'not confirm') {
        formData.append('confirmed', 0)
      } else {
        formData.append('confirmed', this.confirm.value)
      }
      if (this.agreement == 'agreed' || this.agreement.text == 'agreed') {
        formData.append('agreement', 1)
      } else if (this.agreement == 'not agree' || this.agreement.text == 'not agree') {
        // console.log('88', '')
        formData.append('agreement', 0)
      } else {
        formData.append('agreement', this.agreement.value)
      }

      formData.append('personal_id', this.editedItem.personal_id)
      formData.append('passport_num', this.editedItem.passport_num)
      formData.append('phone_no', this.editedItem.phone_no)
      formData.append('roles', this.editedItem.roles)
      formData.append('image', this.editedItem.photo)

      this.photos.forEach(file => {
        formData.append('passport_images[]', file)
      })
      console.log('yyy', this.agreement)
      if (this.editedIndex > -1) {
        //edit route
        this.$http
          .post(`admin/users/update/${this.editedItem.id}`, formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
               'X-Requested-With':'XMLHttpRequest'

            },
          })
          .then(res => {
            if (res.data.status == 400) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 419) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 500) {
              this.callErrorMessage(res.data.status)
            } else {
              
              if (res.data.message != null) {
              this.dialog = false

                Object.assign(this.users[this.editedIndex], {
                  personal_id: this.editedItem.personal_id,
                  passport_num: this.editedItem.passport_num,
                  phone_no: this.editedItem.phone_no,
                  status: this.status.value,
                  agreement: this.agreement.value,
                  confirmed: this.confirm.value,
                })
                this.callSuccessMessage(res.data.status)

              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 422) {
            //   this.callErrorMessage(error.response.status)
            // } else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
      } else {
        this.$http
          .post('admin/users/store', formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
               'X-Requested-With':'XMLHttpRequest'

            },
          })

          .then(res => {
            if (res.data.status == 400) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 419) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 500) {
              this.callErrorMessage(res.data.status)
            } else {
              if (res.data.message != null) {
              this.dialog = false

                this.users.push({
                  id: res.data.user.id,
                  personal_id: this.editedItem.personal_id,
                  passport_num: this.editedItem.passport_num,
                  phone_no: this.editedItem.phone_no,
                  status: this.status.value,
                  agreement: this.agreement.value,
                  confirmed: this.confirm.value,
                })
                this.callSuccessMessage(res.data.status)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            if (error && error.response.status == 422) {
              this.callErrorMessage(error.response.status)
            } 
            // else if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
      }
    },
    editItem(item) {
      this.editedIndex = this.users.indexOf(item)

      this.editedItem = Object.assign({}, item)
      if (item.status == '0') {
        this.status = 'inactive'
      } else if (item.status == '1') {
        this.status = 'active'
      }
      if (item.confirmed == '1') {
        this.confirm = 'confirmed'
      } else if (item.confirmed == '0') {
        this.confirm = 'not confirm'
      }
      if (item.agreement == '1') {
        this.agreement = 'agreed'
      } else if (item.agreement == '0') {
        this.agreement = 'not agree'
      }
      // //get roles for this user id
      let roleso = []
      this.$http
        .get(`admin/roles/roles-user-by-name/${item.id}`)
        .then(res => {
          res.data.forEach(role => {
            if (role.id !== 1) {
              roleso.push({
                text: role.name,
                value: role.id,
              })
            }
          })
          this.editedItem.roles = roleso
          this.dialog = true
        })
        .catch(error => {
          // if (error && error.response.status == 500) {
          //   this.callErrorMessage(error.response.status)
          // }
        })
    },
    createItem() {
      this.dialog = true
    },
    resetPasswordUserDialog() {},
    resetPasswordUser(item) {
      confirm('Are You Sure To Reset This Item ?') &&
        this.$http
          .get(`admin/users/restore-password-user/${item.id}`)
          .then(res => {
            if (res.data.status == 400) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 419) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 500) {
              this.callErrorMessage(res.data.status)
            } else {
              if (res.data.message != null) {
                this.callSuccessMessage(res.data.status)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
    },
    deleteItem(item) {
      const index = this.users.indexOf(item)
      confirm('Are You Sure To Delete This Item ?') &&
        this.$http
          .get(`admin/users/destroy/${item.id}`)

          .then(res => {
            if (res.data.status == 400) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 419) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 500) {
              this.callErrorMessage(res.data.status)
            } else {
              if (res.data.message != null) {
                this.users.splice(index, 1)
                this.callSuccessMessage(res.data.status)
              } else {
                this.noDataInYourEntering()
              }
            }
          })
          .catch(error => {
            // if (error && error.response.status == 500) {
            //   this.callErrorMessage(error.response.status)
            // }
          })
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
  },
}
</script>
