<template>
  <div>
    <v-snackbar v-model="snackbar" :color="color">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-uppercase">Name</th>

            <th class="text-center text-uppercase">Personal Id</th>

            <th class="text-center text-uppercase">Passport Num.</th>

            <th class="text-center text-uppercase">Phone No.</th>

            <th class="text-center text-uppercase">Status</th>

            <th class="text-center text-uppercase">Verification</th>
            <th class="text-center text-uppercase">Confirmed</th>

            <th class="text-center text-uppercase">Agreement</th>
            <th class="text-center text-uppercase">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="item in users" :key="item.id">
            <td>{{ item.name }}</td>

            <td class="text-center">
              {{ item.personal_id }}
            </td>

            <td class="text-center">
              {{ item.passport_num }}
            </td>

            <td class="text-center">
              {{ item.phone_no }}
            </td>

            <td class="text-center">
              {{ item.status == 1 ? 'Active' : 'InActive' }}
            </td>

            <td class="text-center">
              {{ item.documenation }}
            </td>
            <td class="text-center">
              {{ item.confirmed == 1 ? 'Confirmed' : 'Not Confirm' }}
            </td>

            <td class="text-center">
              {{ item.agreement == 1 ? 'Agreed' : 'Not agree' }}
            </td>
            <td>
              <div v-if="item.id !== 1">
                <v-btn color="primary" class="mt-6" @click="acceptItem(item)">
                  <v-icon color="black">mdi-pencil</v-icon> Accept
                </v-btn>
              
                <v-btn color="default" class="mt-6" @click="rejectItem(item)"> Reject </v-btn>
              </div>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <template>
      <v-pagination v-model="page" :length="pageInfo && pageInfo.last_page" @input="getRoles()" circle></v-pagination>
    </template>
  </div>
</template>

<script>
export default {
  setup() {
    const statusColor = {
      /* eslint-disable key-spacing */
      Current: 'primary',
      Professional: 'success',
      Rejected: 'error',
      Resigned: 'warning',
      Applied: 'info',
      /* eslint-enable key-spacing */
    }
    return {
      statusColor,
    }
  },
  data() {
    return {
      dialog: false,
      userToken: null,
      users: [],
      permissions: [],
      send_permissions: [],
      editedIndex: -1,
      editedItem: {
        name: null,
        display_name: null,
        description: null,
        status: null,
        permissions: [],
      },
      defaultItem: {
        name: null,
        display_name: null,
        description: null,
        status: null,
      },
      statuses: [
        {
          text: 'active',
          value: 1,
        },
        {
          text: 'inactive',
          value: 0,
        },
      ],
      status: 0,

      snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      Messages: {
        200: 'Operation Accomplished Successfully',
        500: 'Occured Error in server side to show Result Data ! Try again',
        419: 'this has been rejected  before time',
        420: 'cannt reject it, because this accepted on it before time',
        415: 'this has been accepted  before time',
        416: 'this has been rejected  before time',
        400: 'Review the data you entered ! Try again',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        422: 'The given data was invalid ! Try again',
        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },

      total: 0,
      pageInfo: null,
      page: 1,
      statusInput: null,
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
      // val
    },
    //     "editedItem.status":{
    //   handler: function(val){
    //     this.status=val.value

    //   }
    // },

    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
  },
  created() {
    this.getUsers()
    this.getPermissions()
    // this.getUserToken()
  },
  methods: {
    getMessage(id) {
      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      if (statusErr == 500 || statusErr == 419 || statusErr == 400 || statusErr == 422|| statusErr == 415|| statusErr == 416|| statusErr == 419|| statusErr == 420) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    showTrash() {
      this.$router.push('/trash-roles-managment')
    },

getUsers() {
      this.$http
        .get(`admin/users/get-all-users-paginate?page=${this.page}&total=${this.total}`)
        .then(res => {
          this.users = res.data.data.data
          this.pageInfo = res.data.data
        })
        .catch(error => {
          if (error && error.response.status == 500) {
            this.callErrorMessage(error.response.status)
          }
        })
    },
    getPermissions() {
      this.$http.get('admin/permissions').then(res => {
        res.data.data.forEach(da => {
          this.permissions.push({
            value: da.id,
            text: da.name,
          })
        })
      })
    },

    acceptItem(item) {
      console.log('222', item)
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.$http
        .get(`profile/admin/accepting-on-request-documentation/${item.id}`)
        .then(res => {
 if (res.data.status == 400) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 415) {
              this.callErrorMessage(res.data.status)
            }else if (res.data.status == 416) {
              this.callErrorMessage(res.data.status)
            }else if (res.data.status == 419) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 500) {
              this.callErrorMessage(res.data.status)
            } else {
              
              if (res.data.message != null) {
                  console.log('44444', res.data.status)
             
                this.callSuccessMessage(res.data.status)

              } else {
                this.noDataInYourEntering()
              }
            }
        })
        .catch(error => {
   
        })
    },   
     rejectItem(item) {
      console.log('222', item)
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.$http
        .get(`profile/admin/rejection-request-documentation/${item.id}`)
        .then(res => {
 if (res.data.status == 400) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 419) {
              this.callErrorMessage(res.data.status)
            }else if (res.data.status == 420) {
              this.callErrorMessage(res.data.status)
            } else if (res.data.status == 500) {
              this.callErrorMessage(res.data.status)
            } else {
              
              if (res.data.message != null) {
              this.dialog = false

                Object.assign(this.users[this.editedIndex], {
                  personal_id: this.editedItem.personal_id,
                  passport_num: this.editedItem.passport_num,
                  phone_no: this.editedItem.phone_no,
                  status: this.status.value,
                  agreement: this.agreement.value,
                  confirmed: this.confirm.value,
                })
                this.callSuccessMessage(res.data.status)

              } else {
                this.noDataInYourEntering()
              }
            }
        })
        .catch(error => {
   
        })
    },
    createItem() {
      this.status = 'inactive'
      this.dialog = true
    },


    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
  },
}
</script>
