<template>
<div>
      <v-snackbar v-model="snackbar" :color="color">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  <v-simple-table>


    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-uppercase">User Name</th>
          <th class="text-uppercase">Passport Num.</th>
          <th class="text-center text-uppercase">Status</th>
          <th class="text-center text-uppercase">Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, i) in accountsVerified" :key="item.id">
          <td>{{ item.user? item.user.name :null }}</td>
          <td>{{ item.user?item.user.passport_num:null }}</td>


          <td class="text-center">
            {{ item.status == 1 ? 'Active' : 'InActive' }}
          </td>
          <td>
          
          <v-btn color="primary" class="mt-6" @click="show(item, i)">  Show </v-btn>
          </td>


        </tr>
      </tbody>
    </template>


      <template v-slot:top>
        <v-toolbar flat color="white">
        Accounts Management
          <v-dialog v-model="dialog">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="" v-bind="attrs" v-on="on" icon
                ><v-icon>mdi-plus-circle</v-icon></v-btn
              >
            </template>

            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">More info about {{ item.user.name }}</td>
            </template>
            <div class="container">
              <div class="row">
                <v-card class="col-sm-7 mx-auto">
                  <v-card-title>
                    <v-alert class="col-sm-12 mx-auto white--text font-2 text-center" color="primary">
                      <v-icon  large>mdi-account-circle</v-icon> Show Data Account verified User
                    </v-alert>
                  </v-card-title>
                    <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="Name"
                        v-model="editedItem.name"
                      ></v-text-field>
                        <v-text-field
                        class="col-sm-5 mx-auto"
                        outlined
                        dense
                        label="Passport Num."
                        v-model="editedItem.passport_num"
                      ></v-text-field>
                  <v-label>
                    Personal Id. : {{itemUser.user?itemUser.user.personal_id:null}}
                  </v-label>
                  <v-label>
                   Phone No. : {{itemUser.user?itemUser.user.phone_no:null}}
                  </v-label>
                  <v-label> 
                   Name: {{itemUser.user?itemUser.user.name:null}}
                   passport_num: {{itemUser.user?itemUser.user.passport_num:null}}
  
                  </v-label>
                   <div class="col-sm-5 mx-auto row">
                        <v-btn color="blue lighten-1" class="col-sm-5 mx-auto" @click="AcceptRequest(itemUser)" dark
                          >Accept  <i class="fas fa-file mr-3"></i
                        ></v-btn>
                        <v-btn color="amber darken-3" class="col-sm-5 mx-auto" @click="close()" dark
                          >Back<i class="fas fa-share mr-3"></i
                        ></v-btn>
                      </div>
                </v-card>
              </div>
            </div>
          </v-dialog>
        </v-toolbar>
      </template>
  </v-simple-table>
          <template>
      <v-pagination v-model="page" :length="pageInfo&&pageInfo.last_page" @input="getAccountsVerified()" circle></v-pagination>
    </template>
</div>
</template>

<script>
export default {
  setup() {

  },
  data() {
    return {
      dialog:false,
      itemUser:{},
      accountsVerified: [],
      editedItem: {
        name: null,
        passport_num: null,
        status: null
      },
      users: [],
       snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
       Messages: {
        200:'account  has been verified for this user',
        500: 'Occured Error in server side to show Result Data ! Try again',
        419: 'Somthing Unknown In Result Data ! Try again',
        400: 'this account arleady has been verified for this user',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        Else: 'Occured Somthing Error  to show Result Data ! Try again',
        404:'Not Found This user to make verified for his(has been deleted)',
        422: 'The given data was invalid ! Try again',

      },
    
      total: 0,
      pageInfo: null,
      page: 1,
      editedIndex: -1
    }
  },

watch: {
    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getMessage(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {        
        this.text = this.getMessage(item)
      })
    },
},
  created() {
    this.getAccountsVerified()
    this.getUsers()
  },
  methods: {
  getMessage(id) {

      if (this.Messages.hasOwnProperty(id)) return this.Messages[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      if (statusErr == 500 || statusErr == 419 || statusErr == 400||statusErr == 404||statusErr == 422) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')

      }
    },
    getAccountsVerified() {
                  this.$http.get(`admin/accounts-verified?page=${this.page}&total=${this.total}`).then(res => {
                    this.accountsVerified = res.data.data.data
        this.pageInfo = res.data.data
      })
      .catch(error=>{ 
        if(error&&error.response.status==500){
              this.callErrorMessage(error.response.status)  
            }
          })
    },
    getUsers() {
      this.$http.get('admin/users').then(res => {
        res.data.data.forEach(user => {
          this.users.push({
            value: user.id,
            text: user.name,
          })
        }) 
      })
      .catch(error=>{
        // if(error&&error.response.status==500){
        //       this.callErrorMessage(error.response.status)  
        //     }
          })
    },
    getPassportImagesItem(itemUser){
      // return 'aaaa';
      itemUser.passport_images.forEach(file=>{
        return "storage/"+ file.filename
      })
    },
    async AcceptRequest(item) {
      if(item.user){
        //edit route 
        this.$http
          .post(`admin/accounts-verified/update-user-account-verify/${item.id}/${item.user_id}`, {
            user_id: item.user.id,
            name: this.editedItem.name,
            passport_num: this.editedItem.passport_num,
          })
          .then(res => { 
            if (res.data.status == 400) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 419) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 500) {
            this.callErrorMessage(res.data.status)
          } else { 
            if (res.data.message != null) {
                this.accountsVerified[this.editedIndex].status = 1

              this.callSuccessMessage(res.data.status)

            } else {
              this.noDataInYourEntering()
            }
          }

          })
          .catch(error=>{
            if(error&&error.response.status==422){
              this.callErrorMessage(error.response.status)  
            }
            // else if(error&&error.response.status==500){
            //   this.callErrorMessage(error.response.status)  
            // }
          })
        
      }else{
            this.callErrorMessage(404)

      }

    },
    show(item, index){
      this.dialog=true;
            this.editedIndex = index

       this.$http
          .get(`admin/accounts-verified/show-user-account-verify/${item.id}`)
          .then(res => {
            this.itemUser=res.data.data
          })
          .catch(error=>{
            // if(error&&error.response.status==500){
            //   this.callErrorMessage(error.response.status)  
            // }
          })
    },
        close() {
      this.dialog = false
      }
  
  },
}
</script>
