<template>
  <component :is="resolveLayout">
  

    <router-view></router-view>
    
  </component> 
  <!--<v-app>
    <AppBarUserMenu />
    <v-main>
      
    </v-main>
  </v-app>-->
</template>

<script>
import { computed } from '@vue/composition-api'
import { useRouter } from '@/utils'
import LayoutBlank from '@/layouts/Blank.vue'
import LayoutContent from '@/layouts/Content.vue'
import UpgradeToPro from './components/UpgradeToPro.vue'
import AppBarUserMenu from './layouts/components/AppBarUserMenu.vue'

export default {
  components: {
    LayoutBlank,
    LayoutContent,
    UpgradeToPro,
    AppBarUserMenu,
  },
  setup() {
    const { route } = useRouter()

    const resolveLayout = computed(() => {
      // Handles initial route
      if (route.value.name === null) return null

      if (route.value.meta.layout === 'blank') return 'layout-blank'

      return 'layout-content'
    })

    return {
      resolveLayout,
    }
  },
  watch:{
    "$route":{
      handler: function(val){
        localStorage.setItem("last_page", val.path)
      }
    }
  }
}
</script>
