<template>
  <div class="auth-wrapper auth-v1">
    <v-snackbar v-model="snackbar" :color="color">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
    <div class="auth-inner">
      <v-card class="auth-card">
        <!-- logo -->
        <v-card-title class="d-flex align-center justify-center py-7">
          <router-link to="/" class="d-flex align-center">
            <v-img
              :src="require('@/assets/images/logos/logo.svg')"
              max-height="30px"
              max-width="30px"
              alt="logo"
              contain
              class="me-3"
            ></v-img>

            <h2 class="text-2xl font-weight-semibold">TRAVEL APP</h2>
          </router-link>
        </v-card-title>

        <!-- title -->
        <v-card-text>
          <p class="text-2xl font-weight-semibold text--primary mb-2">Welcome to TRAVEL APP! 👋🏻</p>
          <p class="mb-2">Please sign-in to your account and start the adventure</p>
        </v-card-text>

        <!-- login form -->
        <v-card-text>
          <v-form>
            <v-text-field
              v-model="code"
              outlined
              label="code"
              placeholder="142470"
              hide-details
              class="mb-3"
            ></v-text-field>

            <v-btn block color="primary" class="mt-6" @click="codeConfirmation()"> Go </v-btn>
          </v-form>
        </v-card-text>

        <!-- divider -->
        <v-card-text class="d-flex align-center mt-2">
          <v-divider></v-divider>
          <span class="mx-5">or</span>
          <v-divider></v-divider>
        </v-card-text>

        <!-- social links -->
        <v-card-actions class="d-flex justify-center">
          <v-btn v-for="link in socialLink" :key="link.icon" icon class="ms-1">
            <v-icon :color="$vuetify.theme.dark ? link.colorInDark : link.color">
              {{ link.icon }}
            </v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </div>

    <!-- background triangle shape  -->
    <img
      class="auth-mask-bg"
      height="173"
      :src="require(`@/assets/images/misc/mask-${$vuetify.theme.dark ? 'dark' : 'light'}.png`)"
    />

    <!-- tree -->
    <v-img class="auth-tree" width="247" height="185" src="@/assets/images/misc/tree.png"></v-img>

    <!-- tree  -->
    <v-img class="auth-tree-3" width="377" height="289" src="@/assets/images/misc/tree-3.png"></v-img>
  </div>
</template>

<script>
// eslint-disable-next-line object-curly-newline
import { mdiFacebook, mdiTwitter, mdiGithub, mdiGoogle, mdiEyeOutline, mdiEyeOffOutline } from '@mdi/js'
import { ref } from '@vue/composition-api'
import axios from 'axios'
export default {
  setup() {
    const isPasswordVisible = ref(false)
    const passport_num = ref('')
    const password = ref('')
    const socialLink = [
      {
        icon: mdiFacebook,
        color: '#4267b2',
        colorInDark: '#4267b2',
      },
      {
        icon: mdiTwitter,
        color: '#1da1f2',
        colorInDark: '#1da1f2',
      },
      {
        icon: mdiGithub,
        color: '#272727',
        colorInDark: '#fff',
      },
      {
        icon: mdiGoogle,
        color: '#db4437',
        colorInDark: '#db4437',
      },
    ]

    return {
      isPasswordVisible,
      passport_num,
      password,
      socialLink,

      icons: {
        mdiEyeOutline,
        mdiEyeOffOutline,
      },
    }
  },
  data() {
    return {
      code: null,
      password: null,
      snackbar: false,
      text: null,
      color: null,
      ErrorBool: false,
      SuccessBool: false,
      Errors: [],
      Success: [],
      ErrorMessage: {
        500: 'Occured Error in server side to show Result Data ! Try again',
        419: 'Somthing Unknown In Result Data ! Try again',
        400: 'Review the data you entered ! Try again',
        'No Data In Your Entering': 'There is No Data in Your DataBase to show it',
        'No Data To Show It': 'There is No Data in Something in Show The Result',
        Else: 'Occured Somthing Error  to show Result Data ! Try again',
      },
    }
  },
  watch: {
    Errors(val) {
      this.snackbar = true
      this.color = 'red darken-1'
      val.forEach(item => {
        this.text = this.getError(item)
      })
    },
    Success(val) {
      this.snackbar = true
      this.color = 'green darken-1'
      val.forEach(item => {
        this.text = this.getError(item)
      })
    },
  },
  methods: {
    //methods for handle errors
    getError(id) {
      if (this.ErrorMessage.hasOwnProperty(id)) return this.ErrorMessage[id]
    },
    callSuccessMessage(msg) {
      this.Success = []
      return this.Success.push(msg)
    },
    noDataInYourEntering() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data In Your Entering'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    noDataInSomethingResult() {
      this.Errors = []
      ;(this.ErrorBool = true),
        this.Errors.push('No Data To Show It'),
        () =>
          setTimeout(() => {
            this.ErrorBool = false
          }, 3000)
    },
    callErrorMessage(statusErr) {
      if (statusErr == 500 || statusErr == 419 || statusErr == 400) {
        this.Errors = []
        this.Errors.push(statusErr)
      } else {
        this.Errors = []
        this.Errors.push('Else')
      }
    },
    //for codeConfirmation
    codeConfirmation() {
      this.$http
        .post('password/code/check', {
          mobile: 1,

          code: this.code,
        })
        .then(res => {
          if (res.data.status == 400) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 419) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 500) {
            this.callErrorMessage(res.data.status)
          } else {
            if (res.data.message != null) {
              this.callSuccessMessage(res.data.message)
              //go into page write a code
              this.$router.push('/reset-password')
            } else {
              this.noDataInYourEntering()
            }
          }
        })
        .catch(error => {
          if (error && error.response.status == 422) {
            this.callErrorMessage(error.response.status)
          } else if (error && error.response.status == 500) {
            this.callErrorMessage(error.response.status)
          }
        })
    },
    sendAgain() {
      let passport_num = localStorage.getItem('passport_num')
      alert(passport_num)
      this.$http
        .post('password/passport_num', {
          mobile: 1,
          passport_num: passport_num,
        })
        .then(res => {
          if (res.data.status == 400) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 419) {
            this.callErrorMessage(res.data.status)
          } else if (res.data.status == 500) {
            this.callErrorMessage(res.data.status)
          } else {
            if (res.data.message != null) {
              this.callSuccessMessage(res.data.message)
              localStorage.setItem('passport_num', this.passport_num)
            } else {
              this.noDataInYourEntering()
            }
          }
        })
        .catch(error => {
          if (error && error.response.status == 422) {
            this.callErrorMessage(error.response.status)
          } else if (error && error.response.status == 500) {
            this.callErrorMessage(error.response.status)
          }
        })
    },
  },
  created() {},
}
</script>

<style lang="scss">
@import '~@/plugins/vuetify/default-preset/preset/pages/auth.scss';
</style>
