<template>
  <v-navigation-drawer
    :value="isDrawerOpen"
    app
    floating
    width="260"
    class="app-navigation-menu"
    :right="$vuetify.rtl"
    @input="val => $emit('update:is-drawer-open', val)"
  >
    <!-- Navigation Header -->
    <div class="vertical-nav-header d-flex items-center ps-6 pe-5 pt-5 pb-2">
      <router-link to="/" class="d-flex align-center text-decoration-none">
        <v-img
          :src="require('@/assets/images/logos/logo.svg')"
          max-height="30px"
          max-width="30px"
          alt="logo"
          contain
          eager
          class="app-logo me-3"
        ></v-img>
        <v-slide-x-transition>
          <h2 class="app-title text--primary">TRAVEL</h2>
        </v-slide-x-transition>
      </router-link>
    </div>

    <!-- Navigation Items -->
    <v-list expand shaped class="vertical-nav-menu-items pr-5">
      <nav-menu-link title="Dashboard" to='/dashboard' :icon="icons.mdiHomeOutline"></nav-menu-link>

      <nav-menu-group title="Pages" :icon="icons.mdiFileOutline">
        <nav-menu-group title="Users" :icon="icons.mdiFileOutline">
          <nav-menu-link title="Users Management" to='/users-management'></nav-menu-link>
          <nav-menu-link title="Verification Requests Management" to='/verification-requests -management'></nav-menu-link>
          <nav-menu-link title="Trash Users Management" to='/trash-users-managment'></nav-menu-link>
        </nav-menu-group>
        <nav-menu-group title="Accounts Management " :icon="icons.mdiFileOutline">
          <nav-menu-link title="Recovery By Mobile" to='/accounts-recovery-management-by-mobile'></nav-menu-link>
          <nav-menu-link title="Recovery By Property Rights" to='/accounts-recovery-management-by-property-rights'></nav-menu-link>
          <nav-menu-link title="Verified " to='/accounts-verified-management'></nav-menu-link>
        </nav-menu-group>
        <nav-menu-group title="Roles" :icon="icons.mdiFileOutline">  
          <nav-menu-link title="Roles Management" to='/roles-management'></nav-menu-link>
          <nav-menu-link title="Trash Roles Management" to='/trash-roles-managment'></nav-menu-link>
        </nav-menu-group>
        <nav-menu-group title="Wallet System" :icon="icons.mdiFileOutline">  
          <nav-menu-group title="Accepting Redeem Requsts" :icon="icons.mdiFileOutline">  
              <nav-menu-link title="AcceptingRedeemRequests Management" to='/accepting-redeem-requests-management'></nav-menu-link>
              <nav-menu-link title="ReviweingRequests Management" to='/reviweing-requests-management'></nav-menu-link>
          </nav-menu-group>

              <nav-menu-link title="DeliveryMoney Management" to='/delivery-money-management'></nav-menu-link>
              <nav-menu-link title="Before Charging Management" to='/before-charging-management'></nav-menu-link>
              <nav-menu-link title="Finished Traveling" to='/finished-traveling'></nav-menu-link>
          </nav-menu-group>
      </nav-menu-group>
    </v-list>

  </v-navigation-drawer>
</template>

<script>
// eslint-disable-next-line object-curly-newline
import {
  mdiHomeOutline,
  mdiAlphaTBoxOutline,
  mdiEyeOutline,
  mdiCreditCardOutline,
  mdiTable,
  mdiFileOutline,
  mdiFormSelect,
  mdiAccountCogOutline,
} from '@mdi/js'
import NavMenuSectionTitle from './components/NavMenuSectionTitle.vue'
import NavMenuGroup from './components/NavMenuGroup.vue'
import NavMenuLink from './components/NavMenuLink.vue'

export default {
  components: {
    NavMenuSectionTitle,
    NavMenuGroup,
    NavMenuLink,
  },
  props: {
    isDrawerOpen: {
      type: Boolean,
      default: null,
    },
  },
  setup() {
    return {
      icons: {
        mdiHomeOutline,
        mdiAlphaTBoxOutline,
        mdiEyeOutline,
        mdiCreditCardOutline,
        mdiTable,
        mdiFileOutline,
        mdiFormSelect,
        mdiAccountCogOutline,
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.app-title {
  font-size: 1.25rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3px;
}

// ? Adjust this `translateX` value to keep logo in center when vertical nav menu is collapsed (Value depends on your logo)
.app-logo {
  transition: all 0.18s ease-in-out;
  .v-navigation-drawer--mini-variant & {
    transform: translateX(-4px);
  }
}

@include theme(app-navigation-menu) using ($material) {
  background-color: map-deep-get($material, 'background');
}

.app-navigation-menu {
  .v-list-item {
    &.vertical-nav-menu-link {
      ::v-deep .v-list-item__icon {
        .v-icon {
          transition: none !important;
        }
      }
    }
  }
}

// You can remove below style
// Upgrade Banner
.app-navigation-menu {
  .upgrade-banner {
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);
  }
}
</style>
